@model List<User>

        <table class="table container">
            <thead>
                <tr>
                    <th>Họ tên</th>
                    <th>Số điện thoại</th>
                    <th>Ngày sinh</th>
                    <th>Giới tính</th>
                    <th>Thành phố</th>
                    <th>User name</th>
                    <th>Password</th>
                    <th>rePassword</th>
                </tr>
            </thead>
            <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    @{
                        string phoneNumber = @item.numberPhone;
                        string formattedPhoneNumber = phoneNumber.Substring(0, 3) + "." +
                        phoneNumber.Substring(3, 3) + "." +
                        phoneNumber.Substring(6);
                        <td>@formattedPhoneNumber</td>
                    }
                    <td>@item.Date.ToShortDateString()</td>
                    <td>@item.Gender</td>
                    <td>@item.City</td>
                    <td>@item.Username</td>
                    <td>@item.Password</td>
                    <td>@item.rePassword</td>
                </tr>
            }
            </tbody>
        </table>